doctype html
html(lang='en')
  include head.pug
  body
    #page-wrapper
      .container-fluid
        // Page Heading
        .row
          .col-lg-12
            div(align='center')
              h1.page-header
                img(src='/images/logo.png')
            .alert.alert-success
                strong Terms of Service:
                |  (1.) First and foremost, you understand and agree that you are using this service at your own risk, and that no guarantees are provided whatsoever. You shall not consider Marketing Node responsible for any adverse effect, damage to your website or material loss incurred while using or as a result of using the service. If you don't agree with that, don't use the service! (2.) You understand that while the service is provided free of charge now, during its beta testing phase, in the future it might become a paid service witha monthly fee. If this happens, you will have the option to start paying the monthly fee or to stop using the services.  			             
        // /.row
      // /.container-fluid
    // /#page-wrapper
    include footer.pug
